<p>A <%= @obj.class %> was flagged for inspection.</p>

<%- if @obj.class == Comment -%>
	<p>
		<strong>Name</strong><br />
		<%= @obj.name %>
	</p>
	<p>
		<strong>Email</strong><br />
		<%= @obj.email %>
	</p>	
	<p>
		<strong>URL</strong><br />
		<%= @obj.url %>
	</p>
	<p>
		<strong>Body</strong><br />
		<%= @obj.body %>
	</p>
	<p>
		<strong>Tip</strong><br />
		<%= @obj.tip.title %>
	</p>
<%- else -%>
	<p>
		<strong>Title</strong><br />
		<%= @obj.title %>
	</p>
	<p>
		<strong>Body</strong><br />
		<%= @obj.body %>
	</p>
	<p>
		<strong>Tag list</strong><br />
		<%= @obj.tag_list %>
	</p>
<%- end -%>