<%- title "Change Password" -%>
<%- form_tag "/users/#{@user.id}", :method => :put, :multipart => true, :class => "edit_user" do %>
	
	<%= error_messages_for :user %>
	
	<p>
		<%= label :user, :old_password, "Old password" %>
		<%= password_field :user, :old_password %>
	</p>
	<p>
		<%= label :user, :password, "New password" %>
		<%= password_field :user, :password %>
	</p>
	<p>
		<%= label :user, :password_confirmation, "Re-enter new password" %>
		<%= password_field :user, :password_confirmation %>
	</p>
	
	<p class='submit'><%= submit_tag "save changes", :disable_with => 'saving changes...' %></p>
<% end -%>