<%- title "My Profile" -%>
<%= render :partial => "user", :object => @current_user %>
<%= content_tag :h4, "options:" %>
<p class='clear_both'>
	<%= link_to "edit profile", edit_user_path(@current_user) %><br />
	<%= link_to "change password", change_password_path %><br />
	<%= link_to "get an avatar", "http://en.gravatar.com/", :rel => "external" %>
</p>
<h3 style='text-align:left;font-size:1em;margin: 2em 0 0 0;'>my tips:</h3>
<%= content_tag(:p, "You haven't written any tips yet", :class => "align_center") if @mytips.empty? %>
<%- for tip in @mytips do -%>
	<p class='larger'><%= link_to tip.title, tip_path(tip) %></p>
<%- end -%>
<h3 style='text-align:left;font-size:1em;margin: 2em 0 0 0;'>my favorites:</h3>
<%= content_tag(:p, 
	"You haven't added any tips to your favorites", :class => "align_center") if @myfavorites.empty? %>
<%- for tip in @myfavorites.collect(&:tip) do -%>
	<p class='larger'><%= link_to tip.title, tip_path(tip) %></p>
<%- end -%>

