<%- title "Search History" -%>
<p class='align_center'>
	<%- %w(all successful unsuccessful).each do |link| -%>
		<%= link_to link, :only => link %>
	<%- end -%>
</p>
<table class='search'>
	<caption>Search history</caption>
	<tr>
		<th>Criterion</th>
		<th>Frequency</th>
		<th>Success</th>
	</tr>
	<%- @searches.each do |search| -%>
		<tr class='<%= cycle("even", "odd")%>'>
			<td><%= search.criterion %></td>
			<td><%= search.frequency %></td>
			<td><%= search.success %></td>
		</tr>
	<%- end -%>
</table>