<% cache(tip) do %>	
  <%= content_tag_for :article, tip do %>
  <header>
    <%= content_tag :h1, link_to(tip.title, tip, :class =>"tip_title_link") %>
    <time class="align_right" datetime="<%= tip.created_at.strftime("%Y-%m%-%d")%>" pubdate>
      <%= tip.created_at.to_s(:short) %>
    </time>
  </header>

  <%= tip_body(tip.body).html_safe %>

  <p class='float_right grey'><%= comments_count_link(tip, :url => tip_path(tip)) %></p>
  <%- end -%>  


  <%= clearfix %>	
<% end %>