<%- title "#{h @tip.title}" -%>
		
	<div id='tip_body_div'>
		<%- cache :controller => "tips", :action => "show", :id => @tip.id do -%>	
	  	<%= tip_body(@tip.body).html_safe %>
		<%- end -%>
	</div>
	
	<p class='align_right'>
		<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=d8ddea73-a9e8-4458-9f42-274e75282826&amp;type=website&amp;headerfg=%23f8f8f8&amp;headerbg=%23068ac7&amp;headerTitle=Send%20this%20tip%20via...">
		</script>
	</p>
	
	<div class='smaller user_about'>
		<div class='float_left' style='margin-right: 0.2em'>
			<%= gravatar_image(@tip.user.email, @tip.user.username, :size => 40) %>
		</div>
		<p>
			posted on <%= @tip.created_at.to_formatted_s(:main) %>
			<%= " - last updated on #{@tip.updated_at.to_formatted_s(:main)}" if @tip.has_changed? %>
			by <%= @tip.user.url ? link_to(@tip.user.username, @tip.user.url) : @tip.user.username %><br />
			<%= @tip.user.about %>
		</p>
	</div>
	<p class='float_right'>
  <%-  if logged_in? -%>
    <%= link_to "edit tip", edit_tip_path(@tip) %> |
    <%= link_to "remove", @tip, :method => :delete, :confirm => 'Are you sure?' %>
  <%- end -%>
	</p>
  <%= intense_debate_comments(@tip) %>