<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta name="author" content="Gavin Morrice">
	<meta name="rating" content="general" />
  <meta name="resource-type" content="document" />
	<meta name="keywords" content="ruby on rails, tutorials, help, <%= @tip.tag_list if @tip %>" />
	<title><%= "#{yield(:title)} - #{slogan}" %></title>
	<%= javascript_include_tag :all %>
	<%= stylesheet_link_tag %W( reset generic application coderay ), :cache => true %>
	<%= auto_discovery_link_tag :rss, "http://feeds2.feedburner.com/LatestTipsOnHandyrailstipscom" %>
</head>
<body>
	<div id="wrapper">
		<%- cache("page_header") do -%>
		<div id="header_div">
			<%- link_to root_path do -%>
				<h1 id='main_header'>
					<span class='hidden'>Handy Rails Tips: Ruby On Rails Tips &amp; Tutorials</span>
				</h1>
			<%- end -%>
			<div id='subscription_div'>
				<%= subscriber_form "LatestTipsOnHandyrailstipscom", :submit_value => "" %>
				<div id='rss_div'>
					<%- link_to rss_path do -%>
						<span class='hidden'>subscribe via RSS</span>
					<%- end -%>
				</div>
			</div>
		</div>
		<%- end -%>
		<div id='navbar'>
			<ul>
				<li id='first_li'><%= link_to "home", root_url %></li>
				<li><%= link_to "tips", tips_url %></li>
				<li><%= link_to "write a tip", logged_in? ? new_tip_path : contribute_url %></li>
				<%- if logged_in? -%>
					<li><%= link_to "feedback", new_feedback_path %></li>
				<%- end -%>
				<li><%= link_to "about", about_url %></li>
				<li><%= logged_in? ? link_to("log out", logout_path) : link_to("log in", login_path) %></li>
			</ul>
			<div id='login'>
			</div>
		</div>
		<div id="content">
			<div id="collapse">
				<div id='yield'>
					<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
					<%= yield %>
				</div>
			</div>
			<div id='right_bar'>
				<%= render :partial => 'layouts/search_form' %>
				<%= render :partial => 'ads/ad', :collection => @ads %>
				<p class='align_center'>[<%= link_to("advertise here", advertise_path) %>]<p>
				<hr />
				<%= render :partial => 'layouts/amazon' %>
			</div>
		</div>
		<div id="push">
		</div>
	</div>
	<div id="footer">
		Site by <a href="http://gavinmorrice.com">Gavin Morrice</a> &copy; 2009<br />
		<%= render :partial => 'layouts/cc' if @tip %>
	</div>
</body>
</html>
