<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><%= "#{yield(:title)} - #{slogan}" %></title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="author" content="Gavin Morrice" />
	<meta name="rating" content="general" />
  <meta name="resource-type" content="document" />
	<meta name="keywords" content="rails, rails tutorials, ruby on rails, tutorials, tips, help, <%= @tip.tag_list if @tip %>" />
	<%= stylesheet_link_tag %W( reset generic application coderay ), :cache => true %>
	<%= auto_discovery_link_tag :rss, "http://feeds2.feedburner.com/LatestTipsOnHandyrailstipscom" %>
	<%= yield(:head) %>
</head>
<body>
	<div id="wrapper">
		<%- cache("page_header") do -%>
		<div id="header_div">
			<h1 id='main_header'>
				<%- link_to root_path do -%>
					<span class='hidden'>Handy Rails Tips: Ruby On Rails Tips &amp; Tutorials</span>
					<%= image_tag("logo.gif", :onmouseover => "this.src='/images/logo-hover.gif'", 
						:onmouseout => "this.src='/images/logo.gif'") %>
				<%- end -%>
			</h1>
			<div id='subscription_div'>
				<%= subscriber_form "LatestTipsOnHandyrailstipscom", :submit_value => "" %>
				<div id='rss_div'>
					<%- link_to "http://feeds2.feedburner.com/LatestTipsOnHandyrailstipscom" do -%>
						<%= image_tag("subscribe.png", :alt => "subscribe via RSS") %>
					<%- end -%>
				</div>
			</div>
		</div>
		<%- end -%>
		<div id='navbar'>
			<ul>
				<%= content_tag(:li, link_to("home", root_url, :title => "home"), :id => "first_li") %>
				<%= content_tag(:li, link_to("tips", tips_url, :title => "tips")) %>
				<%= content_tag(:li, link_to("write a tip", new_tip_path, :title => "write a tip")) if logged_in? %>
				<%= content_tag(:li, link_to("about", about_url, :title => "about")) %>
				<%= content_tag(:li, link_to("profile", my_profile_path)) if logged_in? %>
				<%= content_tag(:li, link_to("admin", admin_path)) if admin_logged_in? %>
				<%= content_tag(:li, 
					(logged_in? ? link_to("log out", logout_path) : link_to("log in", login_path))) %>
			</ul>
			<div id='login'>
			</div>
		</div>
		<div id="content">
			<div id="collapse">
				<div id='yield'>
					<%= render 'layouts/flash_notice' unless flash.empty? %>
					<%= yield %>					
				</div>
			</div>
			<div id='right_bar'>
				<%= render  'layouts/search_form' %>
				
				<%# render @ads %>
				<!-- 
				<p class='align_center'>[<%= link_to("advertise here", advertise_path) %>]</p>
				-->
				
				<%= link_to(image_tag("dropbox.png", "http://www.dropbox.com/referrals/NTY5MDA3NTk5")) %>
				
				<hr />
				<%= render  'layouts/google_ads' %>
			  <br />
				<%= render  'layouts/amazon' %>
				<br />
			</div>
		</div>
		<div id="push">
		</div>
	</div>
	<div id="footer">
		<p class='float_left'>Site by <a href="http://gavinmorrice.com">Gavin Morrice</a> &copy; 2009 - <%= Date.today.year %></p>
		<p class='float_right'><%= render 'layouts/cc'%></p>
	</div>
	
	<%= javascript_include_tag :all %>
  <%= javascript_include_tag "http://google-analytics.com/ga.js" if Rails.env == "production" %>
  <%= render 'layouts/google_analytics' if RAILS_ENV == "production" %>

	
</body>
</html>